- if @student
  %header
    %h2= @project.course
    %h1= @project.name
    %ul.list
      %li.list__row= (@student.evaluated_at || Date.today).strftime("%m/%d/%Y")
      %li.list__row= @student.name
      %li.list__row= @student.email
  %section
    .grading
      .grading__head
        %h2 Grading Scale
      %ul.grading__labels
        %li.grading__label Exceptional
        %li.grading__label Above Average
        %li.grading__label Adequate
        %li.grading__label Below Average
        %li.grading__label Failing
    - @project.component_objects.each do |component|
      .grading__form
        .grading__head
          %h1= component.name
          %h2= component.subtext
        .grading_grades
          - @student.all_grades.each do |grade|
            %label.grading__box{class:  !@student.grade?(grade,component) && 'grading__box--disabled'}
              %input.grading__radio{name: "project_student[grades][#{component.id}", type: "radio", value: grade, disabled: !@student.grade?(grade,component), checked: @student.grade?(grade,component)}
              = grade
      .grading__border
    .evaluation
      .evaluation__entry
        = @student.evaluation
- else
  Page Not Found


