- if @student
  %header
    %h2.split-header
      .split-header__left= @project.course
      .split-header__right= (@student.evaluated_at || Date.today).strftime("%m/%d/%Y")
    %h1= @project.name
    %ul.list
      %li.list__row= "#{@student.name} | #{@student.email}"
   
  %section
    .grading
      .grading__header
        .grading__head
          %h2 Grading Scale
        %ul.grading__labels
          %li.grading__label.grading__label--xl Exceptional
          %li.grading__label.grading__label--xl Above<br/>Average
          %li.grading__label Adequate
          %li.grading__label Below<br/>Average
          %li.grading__label Failing
      - @project.component_objects.each do |component|
        .grading__form
          .grading__head
            %h1= component.name
            %h2= component.subtext
          .grading__grades
            - @student.all_grades.each do |grade|
              %label.grading__box{class:  !@student.grade?(grade,component) && 'grading__box--disabled'}
                = grade
        .grading__border
    .evaluation
      .evaluation__entry
        = @student.evaluation
- else
  Page Not Found


